# There are 2 types of data types in python
# 1]primitive
   # Number
        int
        float
        complex
   # String
        single quotes
        double quotes
        triple quotes
# 2]Non primitive
       list
       set
       tuple
       dictionary
       etc...

In [9]:
#Primitive
#integer
num = 10
print(num)
type(num)

10

int

In [11]:
#Float
salary = 30000.45
print(salary)
type(salary)

30000.45

float

In [13]:
#Complex number
c = 4+5j
#where,4 is a real part
#5j is imaginary part
print(c)
type(c)

(4+5j)

complex

In [16]:
#String
name = "Rhutik"
print(name)
type(name)

Rhutik

str

#There are 4 ways to write String
1]" "
2]' '
3]'''      

'''
4]"""

"""